* {
  margin: 0px;
}

body{
  background-color: #0b0252;
}
.container-nav {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-ul {
  margin-top: 90px;
  list-style: none;
  display: flex;
  background-color: #0051ff;
  padding: 10px;
  color: aliceblue;
  border-radius: 10px;
  position: fixed;
}

#li {
  padding: 8px 40px;
  border-radius: 8px;
  margin-right: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
#li:hover {
  color: rgb(0, 81, 255);
  background-color: rgb(205, 220, 230);
  transition: 0.4s;
}
a {
  text-decoration: none;
  margin-left: 20px;
}
.container {
  background-image: url("assets/23324.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  z-index: 1;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
  margin-top: 20px;
}
img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}



/* Aboutus */
.container-abt {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  width: 1000px;
  height: 700px;
}

.image-stack {
  position: relative;
  width: 1000px;
  height: 100%;
}

.image-stack__item--bottom {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  min-height: 100%;
  z-index: -1;
}

.image-stack__item--top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 60%;
  color: aqua;
  position: relative;
  background-color: rgba(171, 171, 171, 0.7);
  text-align: center;
  border-radius: 20px;
}

.image-stack__item--top h2 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.image-stack__item--top p {
  font-size: large;
  margin-bottom: 40px;

}

img {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
